<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CharacterMapper">
    
    <insert id="insertPrompt">
        INSERT INTO character_prompt (name, content)
        VALUES (
            #{name}, 
            #{content, typeHandler=com.example.demo.handler.JsonbTypeHandler}
        )
    </insert>

    <select id="retrieveCharacter" resultType="com.example.demo.dto.CharacterDTO">
		select cp.char_id , cp.appearance , cp.art_style , cp.negative , cp.personality_traits , cp.url_img 
		from character_prompt cp 
		where cp.char_id =  #{id}
    </select>
    
</mapper>