<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrs.shakes.mapper.CharacterMapper">


<select id="findById" resultType="UserResponseDto">
    SELECT user_id, email, nickname, profile_image, role, provider, created_at
    FROM public.users
    WHERE user_id = #{userId}
</select>

</mapper>